/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #000000;

	--primary-color: #23140a;
	--secondary-color: #b67a38;
	--tertiary-color: crimson;

	--white-color-00: #ffffff;

	/* Font Family */
	--title-ff: 'Passion One', sans-serif;
	--text-ff: 'Poppins', sans-serif;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--bold-fw: 700;

	/* Font Size */
	--sm-fs: 0.85rem;
	--base-fs: 0.95rem;
	--lg-fs: 1.35rem;
	--xl-fs: 2.75rem;

	/* Width */
	--container-mw: 1280px;
	--container-pi: 0.85rem;

	/* Border Radius */
	--light-radius: 0.55rem;

	/* Box Shadow */
	--primary-bs: 1px 1px 25px 5px rgba(35, 20, 10, 0.15);
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	color: var(--white-color-00);
}

a {
	text-decoration: none;
}

a,
button,
input {
	color: inherit;
}

button,
input {
	border: none;
	outline: none;
	background-color: transparent;
}

button,
input,
input::placeholder {
	font-size: var(--base-fs);
}

button {
	cursor: pointer;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.password-visibility {
	position: absolute;
	color: var(--primary-color);
	right: 1.1rem;
	top: 2rem;
	opacity: 0.65;
	transition: 0.35s ease-in-out;
}

.password-visibility:hover {
	opacity: 1;
}

.password-visibility button {
	position: absolute;
}

.password-visibility button.hidden {
	display: none;
}

.password-visibility button i {
	pointer-events: none;
}

.form-btn {
	background-image: linear-gradient(
		to right,
		var(--primary-color),
		var(--secondary-color)
	);
	border-radius: var(--light-radius);
	color: var(--primary-color);
	font-weight: var(--bold-fw);
	padding: 0.35rem;
	margin-top: 1.55rem;
	border: 4px solid var(--primary-color);
	transition: 0.36s ease-in-out;
	font-size: var(--lg-fs);
}

.form-btn:hover {
	background-image: linear-gradient(
		to left,
		var(--primary-color),
		var(--secondary-color)
	);
}

/***************** CONTENT *******************/
#content {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../img/coffee.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/***************** FORM *******************/
.form-content {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form {
	background-color: var(--secondary-color);
	padding: 2.5rem;
	max-width: 370px;
	border-radius: var(--light-radius);
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
}

.form-icon {
	background-color: var(--primary-color);
	width: fit-content;
	position: absolute;
	border-radius: 50%;
	height: 140px;
	width: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--xl-fs) * 2);
	color: var(--secondary-color);
	left: 50%;
	top: -70px;
	transform: translateX(-50%);
}

#form,
.form-icon,
.btn {
	box-shadow: var(--primary-bs);
}

.form-title {
	color: var(--primary-color);
	text-transform: capitalize;
	font-family: var(--title-ff);
	font-size: var(--xl-fs);
	margin-block: 45px;
	line-height: 0.8;
}

.form-field {
	gap: 0.55rem;
	position: relative;
}

.form-field:nth-child(3) {
	margin-bottom: 1.25rem;
}

.form-label {
	color: var(--black-color-00);
	font-weight: var(--bold-fw);
}

.form-input {
	color: var(--black-color-00);
	border-bottom: 2px solid var(--primary-color);
	padding-bottom: 0.25rem;
}

.form-input[type='password'] {
	padding-right: 1.5rem;
}

.form-input::placeholder {
	font-weight: var(--light-fw);
	color: var(--white-color-00);
}

.form-field,
.form-links {
	text-align: left;
	display: flex;
	flex-direction: column;
}

.form-links {
	gap: -0.25rem;
	margin-top: 1.75rem;
}

.form-links a {
	font-weight: var(--medium-fw);
	font-size: var(--sm-fs);
	transition: color 0.45s ease-in-out;
	color: var(--primary-color);
}

.form-links a:hover {
	color: var(--white-color-00);
}
/************** End of FORM ***************/
/************** End of CONTENT ***************/
